<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="HTTP to HTTPS and Canonical Name Redirect" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAny">
					  <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
					  <add input="{HTTP_HOST}" negate="true" pattern="www\.eliscodesign\.com" />
					</conditions>
					<action type="Redirect" url="https://dev.eliscodesign.com{PATH_INFO}" redirectType="Permanent" />
				</rule>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^wolf/install/index.html$" ignoreCase="false" />
                    <action type="Rewrite" url="wolf/install/index.php?rewrite=1" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^wolf/install/index.php$" ignoreCase="false" />
                    <action type="Rewrite" url="wolf/install/index.php?rewrite=1" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^wolf/install/$" ignoreCase="false" />
                    <action type="Rewrite" url="wolf/install/index.php?rewrite=1" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?WOLFPAGE={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="index.aspx" />
                <add value="default.aspx" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
